<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" media="screen" href="../../../../assets/css/symphony.css">
<link type="text/css" rel="stylesheet" media="screen" href="../../../../assets/css/symphony.duplicator.css">
<link type="text/css" rel="stylesheet" media="screen" href="../../../../assets/css/symphony.layout.css">
<script type="text/javascript" src="../../../../assets/js/jquery.js"></script><script type="text/javascript" src="../../../../assets/js/jquery-ui.js"></script><script type="text/javascript" src="../../../../assets/js/symphony.collapsible.js"></script><script type="text/javascript" src="../../../../assets/js/symphony.orderable.js"></script><script type="text/javascript" src="../../../../assets/js/symphony.duplicator.js"></script><script type="text/javascript" src="../../../../assets/js/symphony.layout.js"></script><script type="text/javascript" src="../../../../assets/js/symphony.tags.js"></script><script type="text/javascript" src="../../../../assets/js/symphony.selectable.js"></script><script type="text/javascript" src="../../../../assets/js/symphony.js"></script><title>Symphony – Sections</title>
</head>
<body><form action="../../../../blueprints/sections/layout/registrations">
<h1><a href="http://home/sym3/beta/">Symphony CMS</a></h1>
<ul id="session">
<li><a href="../../../../system/users/edit/1/">John Smith</a></li>
<li><a href="../../../../logout/">Logout</a></li>
</ul>
<ul id="nav">
<li id="nav-training">Training<ul>
<li><a href="../../../../publish/categories/">Categories</a></li>
<li><a href="../../../../publish/courses/">Courses</a></li>
<li><a href="../../../../publish/types/">Types</a></li>
</ul>
</li>
<li id="nav-employees">Employees<ul><li><a href="../../../../publish/registrations/">Registrations</a></li></ul>
</li>
<li id="nav-system">System<ul>
<li><a href="../../../../system/users/">Users</a></li>
<li><a href="../../../../system/settings/">Settings</a></li>
<li><a href="../../../../system/extensions/">Extensions</a></li>
<li><a href="../../../../extension/aac/roles/">User Roles</a></li>
</ul>
</li>
<li id="nav-blueprints" class="active">Blueprints<ul>
<li><a href="../../../../blueprints/views/">Views</a></li>
<li><a href="../../../../blueprints/sections/">Sections</a></li>
<li><a href="../../../../blueprints/datasources/">Data Sources</a></li>
<li><a href="../../../../blueprints/events/">Events</a></li>
<li><a href="../../../../blueprints/utilities/">Utilities</a></li>
</ul>
</li>
</ul>
<h2>Registrations</h2>
<div id="tab"><ul>
<li><a class="" href="../../../../blueprints/sections/edit/registrations/">Configuration</a></li>
<li><a class="active" href="../../../../blueprints/sections/layout/registrations/">Layout</a></li>
</ul></div>
<div class="columns type-l" id="layout"><div class="column large"><fieldset>
<h3>Layout</h3>
<div id="section-layout">
<ol class="layouts">
<li><div class="columns type-l"><div class="column large">a</div></div></li>
<li><div class="columns type-ll">
<div class="column large">a</div>
<div class="column large">b</div>
</div></li>
<li><div class="columns type-ls">
<div class="column large">a</div>
<div class="column small">b</div>
</div></li>
<li><div class="columns type-sl">
<div class="column small">a</div>
<div class="column large">b</div>
</div></li>
<li><div class="columns type-lll">
<div class="column large">a</div>
<div class="column large">b</div>
<div class="column large">c</div>
</div></li>
<li><div class="columns type-llll">
<div class="column large">a</div>
<div class="column large">b</div>
<div class="column large">c</div>
<div class="column large">d</div>
</div></li>
</ol>
<ol class="templates">
<li class="field">
<span class="name">First Name<em>Text Box</em></span><input name="name" type="hidden" value="first-name">
</li>
<li class="field">
<span class="name">Last Name<em>Text Box</em></span><input name="name" type="hidden" value="last-name">
</li>
<li class="field">
<span class="name">Member Number<em>Text Box</em></span><input name="name" type="hidden" value="member-number">
</li>
<li class="field">
<span class="name">Birth Date<em>Date</em></span><input name="name" type="hidden" value="birth-date">
</li>
<li class="field">
<span class="name">Role<em>Select Box</em></span><input name="name" type="hidden" value="role">
</li>
<li class="field">
<span class="name">Active<em>Checkbox</em></span><input name="name" type="hidden" value="active">
</li>
</ol>
<ol class="columns type-ls">
<li class="column large"><fieldset>
<h3><input name="name" type="text" placeholder="Fieldset"></h3>
<ol class="fields">
<li class="field">
<span class="name">First Name<em>Text Box</em></span><input name="name" type="hidden" value="first-name">
</li>
<li class="field">
<span class="name">Last Name<em>Text Box</em></span><input name="name" type="hidden" value="last-name">
</li>
<li class="field">
<span class="name">Member Number<em>Text Box</em></span><input name="name" type="hidden" value="member-number">
</li>
<li class="field">
<span class="name">Birth Date<em>Date</em></span><input name="name" type="hidden" value="birth-date">
</li>
</ol>
</fieldset></li>
<li class="column small"><fieldset>
<h3><input name="name" type="text" placeholder="Fieldset"></h3>
<ol class="fields">
<li class="field">
<span class="name">Role<em>Select Box</em></span><input name="name" type="hidden" value="role">
</li>
<li class="field">
<span class="name">Active<em>Checkbox</em></span><input name="name" type="hidden" value="active">
</li>
</ol>
</fieldset></li>
</ol>
</div>
</fieldset></div></div>
<div class="actions"><button accesskey="s" name="action[save]" type="submit"><span>Save Changes</span></button></div>
</form></body>
</html>